@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<svg width="0" height="0">
    <mask id="mask_id" width="600" height="500">
        <rect x="0" y="0" width="600" height="500" fill="white" rx="23" ry="23"></rect>
        <rect x="1" y="1" width="598" height="498" fill="black" rx="23" ry="23"></rect>

    </mask>
</svg>

<div class="FullScreanDiv">

    <div  class="BackImage"> 
        <div id="BackImg" class="BluredSvg">
            <div id="DivShine"></div>

            <div data-id="1" class="divinner"></div>
            <div data-id="2" class="divinner"></div>
            <div data-id="3" class="divinner"></div>
            <div data-id="4" class="divinner"></div>
            <div data-id="5" class="divinner"></div>
            <div data-id="6" class="divinner"></div>
            <div data-id="7" class="divinner"></div>
            <div data-id="8" class="divinner"></div>
            <div data-id="9" class="divinner"></div>
            <div class="CenterColl">
                <section>
                    <form id="account" method="post" >
                        <h1>@ViewData["Title"]</h1>

                        <div asp-validation-summary="ModelOnly" role="alert"></div>
                        @* <div class="TextField">
                            <label for="Input_UserName" class="CustomLabel">NickName</label>
                            <input asp-for="Input.UserName" class="InputField" autocomplete="off" placeholder="anonim" />
                            <span asp-validation-for="Input.UserName" class="ValidationMessage"></span>
                        </div> *@
                        <div class="TextField">
                            <label for="Input_Email" class="CustomLabel">Email</label>
                            @* autocomplete="username" *@
                            <input asp-for="Input.Email" class="InputField" autocomplete="off" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="ValidationMessage"></span>
                        </div>

                        <div class="TextField">
                            <label for="Input_Password" class="CustomLabel">Password</label>
                            @* autocomplete="current-password" *@
                            <input asp-for="Input.Password" class="InputField" aria-required="true" placeholder="password" />
                            <span asp-validation-for="Input.Password" class="ValidationMessage"></span>
                        </div>

                        <div class="CheckBoxAndPass">
                            <div class="CheckboxField">
                                <input asp-for="Input.RememberMe" class="CustomCheckbox" />
                                <label for="Input_RememberMe" class="CustomLabel">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>

                            </div>
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                        
                        <div class="TextField">
                            <button id="login-submit" type="submit" class="LogInBtn">Log in</button>
                        </div>
                        <div class="dontacc">
                            
                            <p>
                                Don`t have an account?
                            </p>
                            <p>
                                <a class="createa" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create a account</a>
                            </p>
                            @* <p> *@
                                @* <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a> *@
                            @* </p> *@
                        </div>
                    </form>
                </section>
            </div>
        </div>
        @* <div class="GradientDiv">
           <div id="BallMouse" class="BluredTop"></div>

            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>  
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
            <div id="BallMouse" class="BallMouse"></div>
        </div> *@
 
     </div> 
    @* <div class="BackText"> *@
        @* <div class="CenterRow"> *@
            @* <h1>@ViewData["Title"]</h1> *@
            
            @* <div class="col-md-6 col-md-offset-2">
                <section>
             
                   
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                        
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div> *@
        @* </div> *@
    @* </div> *@
   
    <div class="ImageDiv">
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const btnHover = document.querySelectorAll(".divinner")
        const BackImg = document.getElementById("BackImg")
        const hoverShine = document.getElementById("DivShine")
      
        btnHover.forEach(item=>
        {
            item.addEventListener("mouseenter",function()
            {
                const id = this.dataset.id;
                if(id == "1")
                {
                    BackImg.style.transform = "rotateX(8deg) rotateY(-8deg)";
                    hoverShine.style.backgroundPosition = `0px 0px`
                }
            
                else if(id == "3")
                {
                    BackImg.style.transform = "rotateX(8deg) rotateY(8deg)";
                    hoverShine.style.backgroundPosition = `150px 0px`

                }
           
                 else if(id == "7")
                {
                    BackImg.style.transform = "rotateX(8deg) rotateY(8deg)";
                    hoverShine.style.backgroundPosition = `150px 0px`
                }
              
                  else if(id == "9")
                {
                    BackImg.style.transform = "rotateX(8deg) rotateY(-8deg)";
                    hoverShine.style.backgroundPosition = `0px 0px`

                }
            });

            item.addEventListener("mouseleave",function()
            {
               
             
                    BackImg.style.transform = "rotateX(0deg) rotateY(0deg)";
                                        hoverShine.style.backgroundPosition = `100px 0px`

                
            });
        });
    </script>
}
