@using Microsoft.AspNetCore.Identity
@using DataAccess.Data.Entities
@model User
@{
    var profileId = Context.Session.GetString("ProfileId");
}



        <div class="MainProfileDiv">
            <div class="FirstRowProfile">
                <div class="ImageProfileBack">
                     <div class="ImageBack"><img class="ImgMini" src="@Model.ImgUrl" /></div>
                </div>
                <div class="ProfileText">
                    <div class="FirstMiniProf">
                        <p id="NickNameId">@Model.UserName</p>
                        @if(Model.Id == profileId)
                        {
                            <a asp-action="ProfileEdit" asp-controller="Profile" class="firstRowBtn"> <p class="MagrinP">Edit profile</p></a>
                            <button class="firstRowBtn"> <p class="MagrinP">View archive</p></button>
                        }
                        else
                        {
                            if (Model.Followers.Any(m => m.FollowerId == profileId))
                            {
                                <a asp-action="UnFollowToUser" asp-controller="Autorize" asp-route-UserId="@Model.Id" class="GrayBtnMini">Unsubscribe</a>
                            }
                            else
                            {
                                <a asp-action="FollowToUser" asp-controller="Autorize" asp-route-UserId="@Model.Id" class="BlueBtnMini">Subscribe</a>
                            }
                   

                         }


                    </div>
                    <div class="RowProfile">
                        <p class="nextPub"><span class="numberPub">@Model.Posts.Count()</span>publications</p>
                        <p class="nextPub"><span class="numberPub">@Model.Followers?.Count()</span>subscribers</p>
                        <p class="nextPub"><span class="numberPub">@Model.Following?.Count()</span>subscriptions</p>

                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="SecondRowProfile">
                <div class="fullBlock">
                    <div class="StoriesItem">
                        @* <img class="ImgPos" src=@item.ImgUrl /> *@
                    </div>
            <p class="textback">@Model.UserName</p>
                </div>
            </div>
            <div class="MainDivBlock">
                <button class="MainDivBlockBtnActive"></button>
                <button class="MainDivBlockBtnNonActive"></button>
                <button class="MainDivBlockBtnNonActive"></button>

            </div>
            <div class="PhotoDiv">

                @foreach(var i in Model.Posts.OrderByDescending(m=> m.Id))
                {
       

                        var Photo = @i.ImgUrls.FirstOrDefault(p => p.PostId == @i.Id);
                        if(Photo != null)
                        {

                           @* <button onclick=""></button>  *@

                            <div class="PhotoBlock">

                                <img class="ImgEditds" src="@Photo.Url" alt="Text" />
                                <div class="BlurDiv"></div>
                                <button class="showPartical" data-id="@i.Id"></button>

                                <div class="InfoDivProfile">
                                    <div class="backInfo"><img class="ImgInfo" src="/icons/heartlightfill.png" /><p>@i.PostUserLikes.Count()</p></div>
                                    <div class="backInfo1"><img class="ImgInfo" src="/icons/chat.png" /><p>@i.Coments.Count()</p></div>

                                </div>

                            </div>

                        }
                      
                }
            </div> 
        </div>
    }
}
<div id="particalContainer"></div>



@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded",()=>
        {
            const menuLeft = document.getElementById("leftMenu1");
            const btnSearch = document.getElementById("BtnSearch");
            const AllText = document.querySelectorAll(".OpacityP");
            const InstagramLogo = document.getElementById("FirstBlock12");
            const InstagramLogo2 = document.getElementById("InnerInmg");
            const ParitalBack = document.getElementById("ParitalBack");

            btnSearch.addEventListener("click",()=>
            {
                if(menuLeft.style.width == "70px")
                {
                    menuLeft.style.width = "250px";
                    AllText.forEach(item =>
                    {
                        item.style.opacity = "1";
                    });
                    InstagramLogo.style.opacity = "1";
                    InstagramLogo2.style.backgroundSize = "0%";
                    ParitalBack.style.width = "180px";
                    ParitalBack.style.boxShadow = "none";

                }
                else
                {
                    menuLeft.style.width = "70px";
                AllText.forEach(item =>
                    {
                        item.style.opacity = "0";
                    });
                InstagramLogo.style.opacity = "0";
                InstagramLogo2.style.backgroundSize = "35%";
                ParitalBack.style.width = "400px";
                    ParitalBack.style.boxShadow = "10px 0 15px rgba(0, 0, 0, 0.1)";

                }


            });
        });
        $(".showPartical").on("click",function()
        {
            let PostId = $(this).data("id");
            $("#particalContainer").load("@Url.Action("GetPostPartial", "Autorize")" + "?PostId=" + PostId,function(){
                 initParticalButtons();
            });
        });


                function initParticalButtons() {
                            $("#BackBtnPartial").on("click",function()
                            {
                                 $("#particalContainer").empty();
                            });

        const btn = document.querySelectorAll(".rigthBtn");
        const btn2 = document.querySelectorAll(".leftBtn");

        btn.forEach(item => {
             item.addEventListener("click", () => {

                const elem = document.getElementById(`MainDivPosAbs-${ item.dataset.id}`);

                let length = elem.dataset.count * 500;

                let number1 = elem.style.left.slice(0,-2) ?? 0;
                let currnetnum = parseInt(number1 * -1);

                if(currnetnum * -1 + (-500)  > elem.dataset.count * -500)
                {
                    let newnumber = (currnetnum * -1) + (-500);

                    // console.log(newnumber);
                    elem.style.left = `${newnumber}px`;

                }


            })
        })

        btn2.forEach(item => {
             item.addEventListener("click", () => {

                const elem = document.getElementById(`MainDivPosAbs-${ item.dataset.id}`);
                  let number1 = elem.style.left.slice(0,-2) ?? 0;
                let currnetnum = parseInt(number1 * -1);
                if(currnetnum * (-1) + 500 <= 0)
                {
                    let newnumber = (currnetnum * -1) + 500;

                    elem.style.left = `${newnumber}px`;
                }


            })
        
            });
        }
    </script>
}
